.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    flex: 1;
    z-index: 99;
  
}

.logo>span {
    font-weight: bold;
    font-size: 1rem;
}

.menu {
    flex: 1;
    display: flex;
    gap: 2rem;
    justify-content: center;
    z-index: 99;
}

.menu>li:hover{
    cursor: pointer;
    color: var(--themeRed);
}

.rightSide {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.cart {
    position: relative;
    display: flex;
    cursor: pointer;
    z-index: 99;
}

.badge{
    position: absolute;
    display: flex;
    background: var(--themeRed);
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -0.5rem;
}

@media screen and (max-width:600px){
    .menu { 
        gap: 1rem;
    }

    .rightSide {
        display: flex;
        justify-content: space-between;
    }
    
}