.container {
  display: flex;
  position: relative;
  width: 100vw;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cherryDiv {
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: center;
  background: var(--pink);
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  color: var(--themeRed);
}

.heroText {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 4rem;
}

.miniText {
  width: 70%;
  color: var(--gray);
  font-weight: 600;
}

.btn {
  padding: 1rem 2.5rem;
}

.right {
  position: relative;
}

.imageContainer {
  width: 38rem;
  position: absolute;
  top: -5rem;
  left: -5rem;
}

.contactUs {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: max-content;
  padding: 1rem;
  border-radius: 5rem;
  top: 6rem;
  left: -6rem;
  gap: 1rem;
  background: white;
  box-shadow: var(--shadow);
}

.contactUs > div {
  background: rgb(59 208 59);
  border-radius: 50%;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
}

.contactUs:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.pizza {
  display: flex;
  gap: 1rem;
  background: white;
  box-shadow: var(--shadow);
  padding: 0.5rem;
  border-radius: 0.5rem;
  position: absolute;
  bottom: 4rem;
  left: 19rem;
  width: max-content;
}

.pizza > :nth-child(1) {
  width: 6rem;
  height: 4rem;
  overflow: hidden;
  border-radius: 0.5rem;
}

.pizza > :nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
}

.pizza > :hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
  .imageContainer {
    width: 35rem;
    left: -12rem;
  }

  .contactUs {
    top: 7rem;
    left: -12rem;
  }
  .pizza {
    bottom: 4rem;
    left: 5rem;
  }
}

@media screen and (max-width: 820px) {
  .heroText {
    font-size: 3rem;
  }

  .imageContainer {
    width: 28rem;
    left: -17rem;
    top: 1rem;
  }

  .contactUs {
    left: -18rem;
  }
  .pizza {
    bottom: 2rem;
    left: -8rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .right {
    position: static;
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heroText {
    font-size: 3rem;
  }

  .imageContainer {
    width: 20rem;
    position: static;
  }

  .contactUs, .pizza {
    display: none;
  }
}
